@charset "UTF-8";
@media (max-width: 1140px) {
  header .second-line .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 700px) {
  header {
    height: 45px;
  }
  header .second-line .container .second-line__logo p {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  header {
    height: 30px;
  }
  header .second-line .container .second-line__logo p {
    font-size: 20px;
  }
  header .second-line .container .navbar .hamburger-menu {
    width: 20px;
    height: 15px;
  }
  header .second-line .container .navbar .hamburger-menu .line {
    height: 2px;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

header .second-line .container, footer .footer .container {
  max-width: 1110px;
}

header {
  height: 70px;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 9999999;
}

header .second-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: #fadfdf;
}

header .second-line .container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .second-line .container .second-line__logo {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .second-line .container .second-line__logo p {
  color: red;
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  cursor: pointer;
}

header .second-line .container .navbar {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .second-line .container .navbar .hamburger-menu {
  min-width: 35px;
  min-height: 20px;
  width: 35px;
  height: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .second-line .container .navbar .hamburger-menu .line {
  width: 100%;
  height: 3px;
  background-color: red;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .second-line .container .navbar .hamburger-menu .line-1 {
  -webkit-transform: rotateZ(-45deg) translate(-8px, 6px);
          transform: rotateZ(-45deg) translate(-8px, 6px);
}

header .second-line .container .navbar .hamburger-menu .line-2 {
  opacity: 0;
}

header .second-line .container .navbar .hamburger-menu .line-3 {
  -webkit-transform: rotateZ(45deg) translate(-8px, -6px);
          transform: rotateZ(45deg) translate(-8px, -6px);
}

header .second-line .container .navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  position: relative;
  top: -100vw;
  background-color: #fadfdf;
}

header .second-line .container .navbar nav.open {
  top: 100px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .second-line .container .navbar nav ul li {
  list-style: none;
  margin: 25px;
}

header .second-line .container .navbar nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: red;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
}

main {
  width: 100%;
  max-width: 1920px;
}

main .first-screen {
  height: 70vw;
  background-color: gray;
  background: url(../img/05d52994da6ec9e0232604cbd714d854.jpg);
  background-size: 100% 100%;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .first-screen .first-screen__logo {
  width: 25vw;
  height: 25vw;
  border: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .first-screen .first-screen__logo h1 {
  color: #a80b0b;
  font-family: "Dancing Script", cursive;
  font-size: 6vw;
  border-bottom: 1px solid white;
}

main .first-screen .first-screen__logo .first-screen__line {
  background-color: white;
  width: 60%;
  height: 2px;
}

main .first-screen .first-screen__logo p {
  color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5vw;
}

main .man {
  height: 500px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.1fr;
      grid-template-columns: 1fr 1.1fr;
}

main .man .man-img {
  background: url(../img/man_1.jpg);
  background-size: 100% 100%;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .man .man-img .button-link__1 {
  max-width: 350px;
  height: 50px;
}

main .man .man-img .button-link__1 a {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  height: 50px;
  line-height: 44px;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
  border: 3px solid red;
  border-radius: 50px;
  color: red;
  text-decoration: none;
}

main .man .man-img .button-link__1 a:hover {
  background-color: red;
  color: white;
}

main .man .man-info {
  background-color: #ffefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .man .man-info h1 {
  color: red;
  font-family: "Dancing Script", cursive;
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
}

main .man .man-info p {
  color: red;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  width: 60%;
  text-align: center;
}

main .women {
  height: 500px;
  width: 100%;
  background-color: red;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.1fr 1fr;
      grid-template-columns: 1.1fr 1fr;
}

main .women .women-info {
  background-color: #ffefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .women .women-info h1 {
  color: red;
  font-family: "Dancing Script", cursive;
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
}

main .women .women-info p {
  color: red;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  width: 60%;
  text-align: center;
}

main .women .women-img {
  background: url(../img/women_2.jpg);
  background-size: 100% 100%;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .women .women-img .button-link__2 {
  max-width: 350px;
  height: 50px;
}

main .women .women-img .button-link__2 a {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  height: 50px;
  line-height: 44px;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
  border: 3px solid red;
  border-radius: 50px;
  color: red;
  text-decoration: none;
}

main .women .women-img .button-link__2 a:hover {
  background-color: red;
  color: white;
}

main .my-jobs {
  height: 500px;
  width: 100%;
  background-color: red;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.1fr;
      grid-template-columns: 1fr 1.1fr;
}

main .my-jobs .my-jobs__img {
  background: url(../img/my_jobs_1.jpg);
  background-size: 100% 100%;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .my-jobs .my-jobs__img .button-link__3 {
  max-width: 350px;
  height: 50px;
}

main .my-jobs .my-jobs__img .button-link__3 a {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  height: 50px;
  line-height: 44px;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
  border: 3px solid red;
  border-radius: 50px;
  color: red;
  text-decoration: none;
}

main .my-jobs .my-jobs__img .button-link__3 a:hover {
  background-color: red;
  color: white;
}

main .my-jobs .my-jobs__info {
  background-color: #ffefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .my-jobs .my-jobs__info h1 {
  color: red;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
}

main .my-jobs .my-jobs__info p {
  color: red;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  width: 60%;
  text-align: center;
}

footer .footer {
  width: 100%;
  height: 400px;
  background-color: #fadfdf;
  padding-top: 45px;
  padding-bottom: 130px;
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*выравнивание объектов*/
}

footer .footer .container .footer-copyright {
  line-height: 1.3;
  max-width: 350px;
  margin-right: 30px;
}

footer .footer .container .footer-copyright .footer-copyright-name {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 15px;
  font-family: "Dancing Script", cursive;
}

footer .footer .container .footer-copyright p {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  margin-bottom: 15px;
  max-width: 350px;
  font-family: "Dancing Script", cursive;
}

footer .footer .container .footer-icons {
  max-width: 350px;
  margin-left: 30px;
  margin-right: 30px;
}

footer .footer .container .footer-icons p {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  font-family: "Dancing Script", cursive;
}

footer .footer .container .footer-icons .footer-icons-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer .container .footer-contacts {
  max-width: 350px;
  max-width: 350px;
  margin-left: 30px;
}

footer .footer .container .footer-contacts .footer-button {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  height: 50px;
  line-height: 44px;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
  border: 3px solid red;
  border-radius: 50px;
  color: red;
  text-decoration: none;
  font-family: "Dancing Script", cursive;
}

footer .footer .container .footer-contacts a:hover {
  background-color: red;
  color: white;
}

footer .footer .container .footer-contacts p {
  font-size: 16px;
  line-height: 1.3;
  color: red;
  font-family: "Dancing Script", cursive;
}
